<!-- Navigation & Intro -->
{% if global.isSlider %}
    {% block stylesheets %}
        <style>
            html,
            body,
            header,
            .view {
                height: 100%;
            }
            @media (min-width: 451px) and (max-width: 740px) {
                html,
                body,
                header,
                .view {
                    height: 500px;
                }
            }
            @media (min-width: 800px) and (max-width: 850px) {
                html,
                body,
                header,
                .view {
                    height: 550px;
                }
            }

            /* Carousel*/
            .carousel,
            .carousel-item,
            .carousel-item.active {
                height: 100%;
            }

            .carousel-inner {
                height: 100%;
            }
            {% if category.slider is defined and category.slider is not null %}
                .carousel-item:nth-child(1) {
                    background-image: url("{{ category.slider.photo }}");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-attachment: fixed;
                    background-position: center center;
                }
            {% elseif cityWithCategory.category.slider is defined and cityWithCategory.category.slider is not null %}
            .carousel-item:nth-child(1) {
                background-image: url("{{ cityWithCategory.category.slider.photo }}");
                background-repeat: no-repeat;
                background-size: cover;
                background-attachment: fixed;
                background-position: center center;
            }
            {% else %}
                {% for sPhoto in global.slider %}
                .carousel-item:nth-child({{ loop.index }}) {
                    background-image: url("{{ sPhoto.photo }}");
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-attachment: fixed;
                    background-position: center center;
                }
                {% endfor %}
            {% endif %}
        </style>
    {% endblock %}
{% endif %}

<header>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar white">
        <div class="container-fluid">
            <a class="navbar-brand font-weight-bold title" href="{{ path('home') }}">{{ global.name }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="list-unstyled navbar-nav mx-auto">
                    <li class="nav-item ml-4">
                        <a class="nav-link title" href="{{ path('home') }}" data-offset="90">Ana sayfa</a>
                    </li>
                    <li class="nav-item dropdown ml-4 mb-0">
                        <a class="nav-link dropdown-toggle title" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"> Hizmetler </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% for c in global.category %}
                                <a class="dropdown-item" href="{{ path('category', {'categorySlug':c.slug}) }}">{{ c.title }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item dropdown ml-4 mb-0">
                        <a class="nav-link dropdown-toggle title" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"> Kurumsal </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% for corporate in global.corporate %}
                                <a class="dropdown-item" href="{{ path('corporate', {'corporateSlug':corporate.slug}) }}">{{ corporate.title }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item dropdown ml-4 mb-0">
                        <a class="nav-link dropdown-toggle title" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"> Blog </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            {% for blog in global.blog %}
                                <a class="dropdown-item" href="{{ path('blog', {'blogSlug':blog.slug}) }}">{{ blog.title }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item ml-4">
                        <a class="nav-link title" href="{{ path('faq') }}" data-offset="90">S.S.S</a>
                    </li>
                    <li class="nav-item ml-4">
                        <a class="nav-link title" href="{{ path('comment') }}" data-offset="90">Yorumlar</a>
                    </li>
                </ul>
                <!-- Social Icon  -->
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ global.general.facebook }}" target="_blank">
                            <i class="fab fa-facebook-f title"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ global.general.twitter }}" target="_blank">
                            <i class="fab fa-twitter title"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ global.general.youtube }}" target="_blank">
                            <i class="fab fa-youtube title"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ global.general.instagram }}" target="_blank">
                            <i class="fab fa-instagram title"></i>
                        </a>
                    </li>
                    <li class="nav-item ml-3">
                        <a class="btn {{ global.contactFixed.type.color.btnName }} text-white btn-rounded btn-sm font-weight-bold" {% if global.general.isGoogletag %} onclick="return gtag_report_conversion('{{ global.contactFixed.type.value.value }}{{ global.contactFixed.value }}');" {% endif%} href="tel:{{ global.contactFixed.type.value.value }}{{ global.contactFixed.value }}" data-offset="90">{{ global.contactFixed.title }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% if global.isSlider %}
        <!-- Carousel Wrapper -->
        <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="false">

            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% if category.slider is defined and category.slider is not null %}

                        <li data-target="#carousel" data-slide-to="{{ category.slider.queue }}" class="active">
                        </li>

                {% elseif cityWithCategory.category.slider is defined and cityWithCategory.category.slider is not null %}
                    <li data-target="#carousel" data-slide-to="{{ cityWithCategory.category.slider.queue }}" class="active">
                    </li>
                {% else %}
                    {% for slider in global.slider %}
                        <li data-target="#carousel" data-slide-to="{{ slider.queue }}"
                                {% if loop.index == 1 %}
                                    class="active"
                                {% endif %}
                        >
                        </li>
                    {% endfor %}
                {% endif %}
            </ol>
            <!-- Indicators -->

            <!-- Slides -->
            <div class="carousel-inner" role="listbox">
                {% if category.slider is defined and category.slider is not null %}
                    <div class="carousel-item active">
                        <!-- Mask -->
                        <div class="view">
                            <div
                                    class="h-100 d-flex justify-content-center align-items-center mask rgba-black-light white-text text-center">
                                <ul class="list-unstyled animated fadeInUp col-md-12">
                                    <li>
                                        <h1 class="display-6 font-weight-bold wow fadeIn" data-wow-delay="0.3s">{{ category.slider.title }}</h1>
                                        <hr class="hr-light wow fadeIn w-50" data-wow-delay="0.3s">
                                    </li>
                                    <li>
                                        <h3>{{ category.slider.description }}</h3>
                                    </li>
                                    <li>
                                        {% include 'home/contact_index_normal.html.twig' %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Mask -->
                    </div>
                {% elseif cityWithCategory.category.slider is defined and cityWithCategory.category.slider is not null %}
                    <div class="carousel-item active">
                        <!-- Mask -->
                        <div class="view">
                            <div
                                    class="h-100 d-flex justify-content-center align-items-center mask rgba-black-light white-text text-center">
                                <ul class="list-unstyled animated fadeInUp col-md-12">
                                    <li>
                                        <h1 class="display-6 font-weight-bold wow fadeIn" data-wow-delay="0.3s">{{ cityWithCategory.category.slider.title }}</h1>
                                        <hr class="hr-light wow fadeIn w-50" data-wow-delay="0.3s">
                                    </li>
                                    <li>
                                        <h3>{{ cityWithCategory.category.slider.description }}</h3>
                                    </li>
                                    <li>
                                        {% include 'home/contact_index_normal.html.twig' %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Mask -->
                    </div>
                {% else %}
                    {% for s in global.slider %}
                        <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                            <!-- Mask -->
                            <div class="view">
                                <div
                                        class="h-100 d-flex justify-content-center align-items-center mask rgba-black-light white-text text-center">
                                    <ul class="list-unstyled animated fadeInUp col-md-12">
                                        <li>
                                            <h1 class="display-6 font-weight-bold wow fadeIn" data-wow-delay="0.3s">{{ s.title }}</h1>
                                            <hr class="hr-light wow fadeIn w-50" data-wow-delay="0.3s">
                                        </li>
                                        <li>
                                            <h3>{{ s.description }}</h3>
                                        </li>
                                        <li>
                                            {% include 'home/contact_index_normal.html.twig' %}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Mask -->
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <!-- Slides -->

            <!-- Controls -->
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!-- Controls -->
        </div>
        <!-- Carousel Wrapper -->
    {% endif %}

</header>
<!-- Navigation & Intro -->