{% extends 'base.html.twig' %}

{% block title %}Anasayfa{% endblock %}

{% block body %}
    <div class="container">
        <section id="features" class="text-center my-5">

            {% if corporateIndex %}
                <!-- Section heading -->
                <h2 class="title my-5 wow fadeIn" data-wow-delay="0.2s">
                    <strong>{{ corporateIndex.title }}</strong>
                </h2>

                <!-- Section description -->
                <p class="grey-text w-responsive mx-auto mb-5 wow fadeIn" data-wow-delay="0.2s">
                    {{ corporateIndex.content | raw}}
                </p>
            {% endif %}

            <!-- Grid row -->
            <div class="row wow fadeIn justify-content-md-center" data-wow-delay="0.2s">
                <div class="col-lg-12 text-center my-3">
                    <h2 class="title my-5 wow fadeIn" data-wow-delay="0.2s">
                        <strong>Hizmetlerimiz</strong>
                    </h2>
                    <hr>
                </div>

                {% for c in categorys %}
                    <!-- Grid column -->
                    <div class="col-lg-4 text-center mb-3">
                        <div class="icon-area">
                            <div class="avatar">
                                <a href="{{ path('category',{'categorySlug':c.slug}) }}">
                                    <img class="img-fluid rounded shadow-lg" src="{{ c.photo }}" alt="{{ c.title }}">
                                </a>
                            </div>
                            <br>
                            <h5 class="dark-grey-text font-weight-bold mt-2"><a href="{{ path('category',{'categorySlug':c.slug}) }}" class="text-dark">{{ c.title }}</a></h5>
                            <div class="mt-1">
                                <p class="mx-3 grey-text">

                                </p>
                                {% include 'home/contact_index_sm.html.twig' %}
                            </div>
                        </div>
                    </div>
                    <!-- Grid column -->
                {% endfor %}


            </div>
            <!-- Grid row -->

            {% if blogs|length > 0 %}
                <!-- Grid row -->
                <div class="row wow fadeIn justify-content-md-center" data-wow-delay="0.2s">
                    <div class="col-lg-12 text-center my-3">
                        <h2 class="title my-5 wow fadeIn" data-wow-delay="0.2s">
                            <strong>Blog Yazılarımız</strong>
                        </h2>
                        <hr>
                    </div>

                    {% for blog in blogs %}
                        <!-- Grid column -->
                        <div class="col-lg-3 text-center mb-3" style="border-bottom:1px solid gray; border-bottom-left-radius: 55px; border-bottom-right-radius: 55px;">
                            <div class="icon-area">
                                <div class="avatar">
                                    <a href="{{ path('blog',{'blogSlug':blog.slug}) }}">
                                        <img class="img-fluid rounded shadow-lg" src="{{ blog.photo }}" alt="{{ blog.title }}">
                                    </a>
                                </div>
                                <br>
                                <h5 class="dark-grey-text font-weight-bold mt-2"><a href="{{ path('blog',{'blogSlug':blog.slug}) }}" class="text-dark">{{ blog.title }}</a></h5>
                                <div class="mt-1">
                                    <br>
                                    <a class="text-center btn btn-warning " href="{{ path('blog',{'blogSlug':blog.slug}) }}">Devamını oku <i class="fas fa-arrow-right"></i></a>
                                    {% include 'home/contact_index_sm.html.twig' %}
                                </div>
                            </div>
                        </div>
                        <!-- Grid column -->
                    {% endfor %}
                </div>
                <!-- Grid row -->
            {% endif %}

        </section>
    </div>

{% endblock %}
