{% extends 'base.html.twig' %}

{% block title %}{{ content.brand.title }} {{ content.brand.category.title }} {{ content.title }}{% endblock %}

{% block body %}
    <div class="container">
        <section id="features" class="text-center my-5">
            <h2 class="title my-5 wow fadeIn" data-wow-delay="0.2s">
                <strong>{{ content.title }}</strong>
            </h2>
            <p class="grey-text w-responsive mx-auto mb-5 wow fadeIn" data-wow-delay="0.2s">
                {{ content.content |raw }}
            </p>
            {% include 'home/contact_index_normal.html.twig' %}
        </section>
    </div>
{% endblock %}
