{% extends 'admin/base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-2 d-grid gap-2 offset-md-10"><a href="{{ path('admin_corporate_add') }}" class="btn btn-warning">Ekle <i class="fas fa-plus"></i></a></div>
    </div>
    <table class="table table-hover table-responsive text-center">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Başlık</th>
            <th scope="col">Düzenle</th>
            <th scope="col">Sil</th>
        </tr>
        </thead>
        <tbody>
        {% for c in corporates %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ c.title }}</td>
                <td><a href="{{ path('admin_corporate_update', {'corporate':c.id}) }}" class="btn btn-primary btn-sm">Düzenle <i class="fas fa-pencil"></i></a></td>
                <td><a href="{{ path('admin_corporate_delete', {'corporate':c.id}) }}" class="btn btn-danger btn-sm">Sil <i class="fas fa-trash"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
