{% extends 'base.html.twig' %}

{% block title %}{{ neighborhood.name | capitalize }} {{ cityWithCategory.category.title }}{% endblock %}

{% block body %}
    <div class="container">
        <section id="features" class="text-center my-5">
            <h2 class="title my-5 wow fadeIn" data-wow-delay="0.2s">
                <strong>{{ neighborhood.name | capitalize }} {{ cityWithCategory.category.title }}</strong>
            </h2>
            <p class="grey-text w-responsive mx-auto mb-5 wow fadeIn" data-wow-delay="0.2s">
                {{ cityWithCategory.category.zoneContent | replace({'%_zone_%': neighborhood.name | capitalize}) | raw }}
            </p>
            {% include 'home/contact_index_normal.html.twig' %}
        </section>

    </div>
    {% if cityWithCategory.category.brands |length > 0 %}
        <!-- Second container -->
        <div class="container-fluid" style="background-color: #f4f4fa">
            <div class="container py-4">

                <!-- Section: Services -->
                <section class="my-3 pb-3">

                    <!-- Section heading -->
                    <h3 class="text-center title my-5 pt-4 pb-5 dark-grey-text font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                        <strong>{{ neighborhood.name }} {{ cityWithCategory.category.title }} Markaları</strong>
                    </h3>

                    <!-- First row -->
                    <div class="row wow fadeIn" data-wow-delay="0.4s">

                        {% for brand in cityWithCategory.category.brands %}
                            <div class="col-md-4 mb-5 text-center">

                                <!-- Panel -->
                                <div class="card card-body white hoverable">
                                    <a href="{{ path('brand',{'brandSlug':brand.slug, 'categorySlug': cityWithCategory.category.slug}) }}">
                                        <img src="{{ brand.photo }}" class="img-fluid" alt="{{ brand.title }}">
                                    </a>
                                    <p class="title font-weight-bold dark-grey-text text-center text-uppercase spacing mt-4 mx-4">
                                        <strong>{{ brand.title }}</strong>
                                    </p>
                                    <p class="grey-text font-small text-center mx-4">
                                        <a href="{{ path('brand',{'brandSlug':brand.slug, 'categorySlug': cityWithCategory.category.slug}) }}" class="btn btn-success btn-rounded">{{ brand.title }} {{ cityWithCategory.category.title}} <i class="fas fa-arrow-right"></i></a>
                                        <br>
                                        {% include 'home/contact_index_sm.html.twig' %}
                                    </p>
                                </div>
                                <!-- Panel -->

                            </div>
                        {% endfor %}

                    </div>
                    <!-- First row -->

                </section>
                <!-- Section: Services -->

            </div>
        </div>
        <!-- Second container -->
    {% endif %}


    <!-- Second container -->

    <div class="container">

        <!-- Section: Team v.1 -->
        <section class="team-section text-center my-5" id="team">
            <h3 class="text-center title my-5 dark-grey-text font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                <strong>Hizmet Verdiğimiz Mahalleler</strong>
            </h3>
            <hr>
            <div class="row justify-content-md-center">
                {% for n in district.neighborhoods %}
                    <div class="col-lg-4 col-md-12 mb-5">
                        <div class="card testimonial-card">
                            <div class="card-up success-color text-center align-items-center">
                                <p class="text-white fs-2">
                                    <strong>
                                        {{ cityWithCategory.category.title }} {{ n.name }}
                                    </strong>
                                </p>
                            </div>
                            <div class="card-body">
                                <h4 class="mt-1">
                                    <strong>{{ n.name }}</strong>
                                </h4>
                                <hr>
                                <p class="dark-grey-text">
                                    <a href="" class="btn btn-outline-success btn-rounded">{{ cityWithCategory.category.title }} {{ n.name }}<i class="fas fa-arrow-right"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

        </section>
    </div>


{% endblock %}
