<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link rel="stylesheet" href="{{ asset('vendor/css/bootstrap-nightshade.css') }}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>
<body>
{{ render(controller(
    'App\\Controller\\Admin\\IndexController:header'
)) }}
<div class="container my-5  ">
    <div class="row justify-content-md-center">
        <div class="col-md-10">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>



<script src="{{ asset('vendor/js/vendors.min.js') }}"></script>
<script src="{{ asset('vendor/js/jquery-input-mask-phone-number.js') }}"></script>
<script src="{{ asset('vendor/js/style.js') }}"></script>
<script src="{{ asset('vendor/js/bootstrap.bundle.js') }}"></script>

<script src="{{ asset('vendor/js/darkmode.js') }}"></script>

<script>
    document.querySelector("#darkmode-button").onclick = function(e){
        darkmode.toggleDarkMode();
    }
    document.querySelector("#darkmode-off-button").onclick = function(e){
        darkmode.setDarkMode(false);  // save=true is default
    }
    document.querySelector("#darkmode-on-button").onclick = function(e){
        darkmode.setDarkMode(true);  // save=true is default
    }
    document.querySelector("#darkmode-off-button-no-save").onclick = function(e){
        darkmode.setDarkMode(false, false);
    }
    document.querySelector("#darkmode-on-button-no-save").onclick = function(e){
        darkmode.setDarkMode(true, false);
    }
    document.querySelector("#darkmode-forget").onclick = function(e){
        darkmode.resetDarkMode();
    }
</script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% for flashMessage in app.session.flashbag.get('error') %}
    <script type="text/javascript">
        $(document).ready(function() {
            Swal.fire({
                icon: 'error',
                title: 'Hata',
                text: '{{ flashMessage }}',
                confirmButtonColor: '#7367F0',
                confirmButtonText: 'Kapat',
            });
        });
    </script>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('success') %}
    <script type="text/javascript">
        $(document).ready(function() {
            Swal.fire({
                icon: 'success',
                title: 'Başarılı',
                text: '{{ flashMessage|trans }}',
                confirmButtonColor: '#7367F0',
                confirmButtonText: 'Kapat',
            });
        });
    </script>
{% endfor %}

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="successToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Başarılı</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Değişiklikler Başarıyla Kaydedildi
        </div>
    </div>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
