<div class="container pt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-12 text-center">
            <p class="display-4"><a href="{{ path('admin') }}" style="text-decoration: none;">Yönetim Paneli</a></p>
            <p class="h4">{{ app.user.username }}</p>
            <a id="darkmode-button" class="btn px-5 btn-outline-secondary">
                <i class="fas fa-adjust"></i>
            </a>
            <p class="h5">Yetkiniz <span class="text-danger">5/5</span></p>
            <a href="{{ path('app_logout') }}" class="btn btn-danger"><i class="fas fa-power-off"></i></a>
            <hr>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-2 my-1 d-grid gap-2">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButtonSM" data-bs-toggle="dropdown" aria-expanded="false">
                Genel Ayarlar
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonSM">
                <li><a class="dropdown-item" href="#">Ayarlar</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ path('admin_slider') }}">Slider (Kayan fotoğraflar)</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ path('admin_faq') }}">S.S.S</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ path('admin_corporate') }}">Kurumsal</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ path('admin_phone') }}">Numara Ayarları</a></li>
            </ul>
        </div>
        <div class="col-md-2 my-1 d-grid gap-2">
            <a href="{{ path('admin_category') }}" class="btn btn-dark">
                Kategori
            </a>
        </div>
        <div class="col-md-2 my-1 d-grid gap-2">
            <a href="{{ path('admin_brand') }}" class="btn btn-dark">
                Marka
            </a>
        </div>
        <div class="col-md-2 my-1 d-grid gap-2">
            <a href="{{ path('admin_blog') }}" class="btn btn-dark">
                Blog
            </a>
        </div>
    </div>
</div>