{% extends 'admin/base.html.twig' %}

{% block title %}Kategori{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-2 d-grid gap-2 offset-md-10"><a href="{{ path('admin_category_add') }}" class="btn btn-warning">Ekle <i class="fas fa-plus"></i></a></div>
    </div>
    <table class="table table-hover table-responsive text-center">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Başlık</th>
            <th scope="col">Fotoğraf</th>
            <th scope="col">Slider</th>
            <th scope="col">Bölge İçeriği</th>
            <th scope="col">Şehirleri Oluştur</th>
            <th scope="col">Düzenle</th>
            <th scope="col">Sil</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categorys %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ category.title }}</td>
                <td>
                    {% if category.photo %}
                        <img src="{{ category.photo }}" width="100" height="30" style="object-fit: cover;" alt="photo">
                    {% else %}
                        YOK
                    {% endif %}
                </td>
                <td>{{ category.slider.title | default('-') }}</td>
                <td><a href="{{ path('admin_category_content', {category:category.id}) }}" class="btn btn-info btn-sm">Bölge İçerik <i class="fas fa-pencil"></i></a></td>

                <td>
                    {% if category.isCity %}
                        <a href="#" class="btn btn-warning btn-sm disabled">
                            Şehirleri Oluşturulmuş <i class="fas fa-pencil"></i>
                        </a>
                    {% else %}
                        <a href="{{ path('admin_category_city_create', {category:category.id}) }}" class="btn btn-primary btn-sm">
                            Şehirleri Oluştur <i class="fas fa-pencil"></i>
                        </a>
                    {% endif %}
                </td>
                <td><a href="{{ path('admin_category_update', {category:category.id}) }}" class="btn btn-primary btn-sm">Düzenle <i class="fas fa-pencil-alt"></i></a></td>
                <td><a href="{{ path('admin_category_delete', {'category': category.id}) }}" class="btn btn-danger btn-sm">Sil <i class="fas fa-trash"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
