{% extends 'admin/base.html.twig' %}

{% block title %}Slider{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-2 d-grid gap-2 offset-md-10"><a href="{{ path('admin_slider_add') }}" class="btn btn-warning">Ekle <i class="fas fa-plus"></i></a></div>
    </div>
    <table class="table table-hover table-responsive text-center">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Başlık</th>
            <th scope="col">Fotoğraf</th>
            <th scope="col">Düzenle</th>
            <th scope="col">Sil</th>
        </tr>
        </thead>
        <tbody>
        {% for s in sliders %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ s.title }}</td>
                <td>
                    {% if s.photo %}
                        <img src="{{ s.photo }}" width="100" height="30" style="object-fit: cover;" alt="photo">
                    {% else %}
                        YOK
                    {% endif %}
                </td>
                <td><a href="{{ path('admin_slider_update', {'slider':s.id}) }}" class="btn btn-primary btn-sm">Düzenle <i class="fas fa-pencil"></i></a></td>
                <td><a href="{{ path('admin_slider_delete', {'slider':s.id}) }}" class="btn btn-danger btn-sm">Sil <i class="fas fa-trash"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
